.top-header-left-side{
padding: 20px 0px;
text-align: left;
}

.top-header-left-side span{
    font-family: Visby CF;
    font-weight: 300;
    opacity: 50%;
}

.top-header-right-side{
    font-family: Visby CF;
    text-align: right;
}

.top-header-right-side .social-media-icon{
    display: inline-block;
}

.top-header-right-side .social-media-icon li{
    display: inline-block;
    margin-left: 20px;
}

.top-header-right-side span{
    display: inline-block;
    color: black;
    background-color: yellow;
    padding: 20px 0px;
    margin-left: 20px;
    margin-right: 0px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.top-header-right-side span:hover{
    background-color: orange;
}

.top-slider{
    width: 100%;
}

.top-slider img{
    padding: 0px 12px;
    width: 100%;
}

#education{
    font-family: Visby CF;
    color: black;
    margin-top: 80px;
}


.education-title .bold{
    font-weight: 900;
    margin-bottom: -25px;
}

.education-title .light{
    font-weight: 100;
    opacity: 70%;
    margin-bottom: 15px;
}

.education-title h2{
    font-size: 50px;
}

.education-title .tittle-snippet{
    margin-bottom: 15px;
    padding: 0 150px 0 0px;
}

.education-title a.read-more{
    margin-top: 25px;
}
